.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f6f9;
}

.register-card {
  width: 350px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.register-card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #1e3c72;
}

.register-card form {
  display: flex;
  flex-direction: column;
}

.register-card input {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.register-card input:focus {
  outline: none;
  border-color: #007bff;
}

.register-card button {
  padding: 12px;
  background:  #2a5298 ;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
}

.register-card button:hover {
  background:  #1e3c72;
}